body {
    margin: 0;
    padding: 0;
    background-color: #ebeef4;
}
#wrapper {
    width: 600;
    margin: auto;
}
#txtUserName {
    background-color: transparent;
    border: solid 1px black;
}
#left, #right { min-height: 300px;}
#left {
    width: 30%;
    float: left;
    background-color: #e2e796;
}
#right {
    width: 70%;
    float: right;
    background-color: #d4f9f8;
}
#boxTitle {
    border: solid 1px black;
    text-align: center;
}
#boxContent {
    border: solid 1px black;
    border-top: none;
    padding: 5px;
    text-align: center;
}
#sayHi {
    text-align: right;
}
#listMessage {
    background-color: #ffab0f;
    height: 250px;
    margin-bottom: 15px;
}
#txtMessage{
    background-color: transparent;
    border: solid 1px black;

}
